pre {font-size: 16px;}

body {
  background-image: url(https://i.pinimg.com/originals/6e/9a/52/6e9a52b657240c7c9405038fcbf0b9c2.gif); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh; 
  margin: 0; 
  padding: 0;
}
html, body {
  height: 100%;
  min-height: 100%; 
}

div{
  width:100%; 
  margin-top:5%; 
  text-align:center;
}
p{
  display:inline-block;
  width:20%;
  margin:5% auto;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:1em;
  line-height:1.5em;
  background:hsla(67, 95%, 95%, 1);
}
#one {
  border:solid 5px hsla(0, 95%, 35%, 1);
}